
* {
    font-family: 'PT Serif', serif;
}

.wrapper {
    padding: 0 2em;
}

.main-nav {
    background-color: black;
    padding: 0 1em;
    display: flex;
}

.main-menu-label{
    color: #eee;
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #111
}

a {
    color: #df7200
}

header,
nav,
article,
footer {
    /*padding: 1em;*/
}

.main-head h1 {
    margin-top: 1em;
}

.entryAudio {
    height: 20px;
    cursor: pointer;
}


img.feature {
    max-width: 100px;
}

.scientific_name {
    font-style: italic;
}





header {
    display: flex;
}
.page-title {
    flex: 1 0 auto;
    text-align: center;
    color: white;
}

/* Menu */
#menu {
    position: fixed;
    top: 1.5em;
    width: inherit;
    background-color: white;
}
/* Hide the checkboxes */
.main-nav input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/* Add hamburger icon */
.hamburger:before {
    content: "☰ ";
}
.main-menu-label {
    margin-bottom: 0;
    padding: 0 1em;
}
.main-menu-label:hover {
    background-color: orange;
}
/* Hide the menu */
#menu {
    max-height: 0;
    overflow-y: scroll;
    z-index: 1000;
    box-shadow: none;
}
/* Show the menu */
.main-nav:hover #menu,
input#menu-checkbox:checked ~ #menu {
    max-height: 100%;
    -webkit-box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.40);
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.40);
}


.tabs {
    border-radius: 8px;
    overflow: hidden;
}

.tab {
    width: 100%;
    overflow: hidden;
}
.tab-label {
    display: flex;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
}
.tab-label:hover {
}
.tab-label::before {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}
.tab-close:hover {
}

input:checked + .tab-label {
}
input:checked + .tab-label::before {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
