* {
    font-family: 'PT Serif', serif;
}

html, body {
  overscroll-behavior-x: none !important;
}

body {
    background-color: #fff0df;
}

.wrapper {
    margin: 0 auto;
    padding: 0 2em;
}

@media (max-width: 40.0rem) {
   .wrapper {
       padding: 0;
   }
    .main-nav {
        background-color: black;
        color: white;
    }
}

header {
    padding: 1em 0 0 1em;
}

.main-nav {
    padding: 1em;
}

.main-menu-label{
    display: inline;
}

.main-content {
    max-width: 40em;
    padding: 0 1em 2em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #111
}

a {
    color: #df7200
}

img.feature {
    max-width: 100%;
    -webkit-box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.20);
}

.scientific_name {
    font-style: italic;
}

.tab {
    margin-bottom: 2em;
}

.tab-content a {
    display: flex;
    align-items: center;
}
.tab-content a:hover .thumbnail {
    transform: scale(1.2);
}

.thumbnail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0.2em 0.4em 0.4em 0;
    transition: all .2s;
}


/* Menu */

.main-menu-label,
.tab-label,
.home-link a,
.tab-content a {
    font-family: "PT Sans";
    font-weight: bold;
}

/* Hide the checkboxes */
.main-nav input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/* Add hamburger icon */
.hamburger:before {
    content: "☰ ";
}
.main-menu-label {
    margin-bottom: 0;
    padding: 0 1em;
}
.main-menu-label:hover {
    color: #aaa;
}
/* Hide the menu */
@media (min-width: 40.0rem) {
    .main-menu-label {
        display: none;
    }
}
@media (max-width: 40.0rem) {
     /* Hide the menu */
    #menu {
        max-height: 0;
    }

    /* Show the menu */
    .main-nav .nav:hover #menu,
    input#menu-checkbox:checked ~ #menu {
        max-height: 100%;
    }

    .tabs {
        border-radius: 8px;
        overflow: hidden;
    }
    .tab {
        width: 100%;
        overflow: hidden;
    }
    .tab-label {
        display: flex;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
    }
    .tab-label::before {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }
    .tab-content {
        max-height: 0;
        padding: 0 1em;
    }

    input:checked + .tab-label {
    }
    input:checked + .tab-label::before {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
        padding: 0.5em 2em;
    }
    .home-link {
        padding-top: 1em;
        margin: 1.8em;
    }
}
