<!doctype h<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Thangkerne | Kaytetye birds | About</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
    </script>
    <!-- Our styles -->
    <link href="../_assets/styles.css" rel="stylesheet"/>
    <link href="../_assets/grid.css" rel="stylesheet"/>
    <script src="../_assets/script.js">
    </script>
</head>
<body>
<div class="wrapper">
    <header class="main-head">
        <h1 class="word">
            About Thangkerne birds
        </h1>
    </header>


    <nav class="main-nav">
        <span class="nav">
            <input type="checkbox" id="menu-checkbox">
            <label class="main-menu-label hamburger" for="menu-checkbox">Menu</label>
            <div id="menu" class="tabs">
                <p class="home-link"><a href="../">Home</a></p>
            </div>
        </span>
    </nav>

    <article class="main-content">
        <p>
            Kaytetye is a highly endangered Indigenous language of Australia. It is spoken in the Barrow Creek region of the Northern Territory. The Kaytetye language group have been documenting their language for many years with linguist Myfany Turpin. The THangkerne content was made for younger Kaytetye people so they can learn more about their language and culture.
        </p>
        <p>
            The Kaytetye audio was read by Alison Ross in 2012 for the Kaytetye Digital Dictionary Project funded by the University of Queensland.  The Kaytetye sentences were written by Alison Ross in 1999 for the Kaytetye Dictionary Project funded by the Australian Government. For a few birds descriptions were given by other Kaytetye speakers:
        </p>
        <ul>
            <li>
                Janie Ampetyane: <em>aherrk-akwewene</em> Singing Honeyeater, <em>tyelkather-athere</em> Banded Lapwing
            </li>
            <li>
                Peter (recorded 1959)†: <em>ilekaynewene</em> Red-tailed Black Cockatoo
            </li>
            <li>
                Mary Thompson†: <em>karlatwerreye</em> Red-capped Robin
            </li>
            <li>
                Shirley Ampetyane: <em>kwarlpatelkalyelkelye</em> Striated Pardalote
            </li>
            <li>
                Beryl Ross: <em>ngimarre alarrewene</em> Striated Honeyeater, <em>twetime</em> Black-breasted Buzzard
            </li>
            <li>
                Fanny Ampetyane†: <em>tyeng-aytey-ayteye</em> Pallid Cuckoo
            </li>
        </ul>
        <p>
            Concept and content: Hilda Ngamperle, Lena Ngamperle, Amy Ngamperle, Rachel Dinnie and Elise Numina (Getting in Touch App Workshop participants).
        </p>
        <ul>
            <li>
                Photography: Richard Waring, Julian Robinson, Bob Gosford, Patrick Coin, Sue Short.
            </li>
            <li>
                Birdcall audio: David Stewart (Nature Sounds)
            </li>
            <li>
                Compilation and translation: Myfany Turpin
            </li>
            <li>
                Ornithological advice: Bob Gosford
            </li>
            <li>
                Technical development: Ben Foley, Margaret Carew
            </li>
            <li>
                Project management: Batchelor Institute of Indigenous Tertiary Education – Northern Territory Language Support Program.
            </li>
            <li>
                App development funded by the Australian Government’s Indigenous Languages Support Program
            </li>
            <li>
                Research on Kaytetye birds was funded by the Australian Institute of Aboriginal and Torres Strait Islander Studies (Grant 2006/7164) and Birdlife Australia (2013 Indigenous Grant for Bird Research and Conservation). Other Kaytetye consultants included Eileen Ampetyane, Harry Janima, Blanche Ross†, Tommy Thompson and Carol Thompson.
            </li>
        </ul>
        <p class="logos">
            <img src="./_assets/batchelor_logo.png" alt="Batchelor logo" />
            <img src="./_assets/ila_logo.png" alt="ILA logo" />
        </p>
        <p>
            This site is copyright. Apart from any fair dealing for the purpose of private study, research, criticism or review, as permitted under the Copyright Act, no part of this publication may be reproduced by any means whatsoever without the written permission of the publisher and copyright owners.
        </p>
        <p>
            This app contains traditional knowledge and cultural expression of Kaytetye people. This information is provided by Kaytetye people for the purposes of knowledge preservation, general education and language maintenance.
        </p>
        <p>
            This information should not be used commercially in any way including tourism, story telling or as trade marks, patents and designs, without observing the Aboriginal cultural protocols of prior informed consent, attribution to Aboriginal communities, cultural integrity and the sharing of benefits.
        </p>
        <p>
            Dealing with any part of the knowledge for any purpose that has not been authorised may breach the customary laws of the Kaytetye people, and may also breach copyright and moral rights under the Copyright Act 1968 (Commonwealth).
        </p>
        <p>
            &copy; Kaytetye people 2015. <br />
            Tara community <br />
            c/o Neutral Junction station <br />
            via Alice Springs NT, 0872.
        </p>
        <p>
            For more information about Kaytetye language see: <br />
            Turpin, M. and A. Ross (2012). Kaytetye to English Dictionary. Alice Springs NT, IAD Press.
        </p>
    </article>
</div>

</body>
</html>
