<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Thangkerne | Kaytetye birds | {{ word }}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
    </script>
    <!-- Our styles -->
    <link href="../_assets/styles.css" rel="stylesheet"/>
    <link href="../_assets/menu_highlight.css" rel="stylesheet"/>
    <link href="../_assets/grid.css" rel="stylesheet"/>
    <script src="../_assets/script.js">
    </script>
</head>
<body class="{{ menu_slug }}">
<div class="wrapper">
    <header class="main-head">
        <h1 class="word">
            {{ word }}
        </h1>
        <section>
            <audio controls src="../audio/{{ audio_file_name }}"></audio>
        </section>
    </header>


    <nav class="main-nav">
        <span class="nav">
            <input type="checkbox" id="menu-checkbox">
            <label class="main-menu-label hamburger" for="menu-checkbox">Menu</label>
            <div id="menu" class="tabs">
                <p class="home-link"><a href="../">Home</a></p>
                <p class="about-link"><a href="../about.html">About</a></p>

{# Use the following block for a category based menu #}
{#                {% for category in menu %}#}
{#                    <div class="tab">#}
{#                        <input type="checkbox" id="check_{{ category.name }}">#}
{#                        <label class="tab-label" for="check_{{ category.name }}">{{ category.name }}</label>#}
{#                        {% for entry in category.entries %}#}
{#                            <div class="tab-content {{ entry.id}} {{ entry.menu_slug }}">#}
{#                                <a href="{{ entry.slug }}">#}
{#                                    <div class="thumbnail"#}
{#                                         style="background-image: url(../images/{{ entry.image_file_name }})"></div>#}
{#                                    {{ entry.text }}#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}

                <div class="tab">
                    {% for entry in menu %}
                        <div class="tab-content {{ entry.id}} {{ entry.menu_slug }}">
                            <a href="{{ entry.slug }}">
                                <div class="thumbnail"
                                     style="background-image: url(../images/{{ entry.image_file_name }})"></div>
                                {{ entry.text }}
                            </a>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </span>
    </nav>


    <article class="main-content">
        <p class="translation">
            {{ translation }}
        </p>
        <p class="scientific_name">
            {{ scientific_name }}
        </p>

        <section>
            <img alt="{{ word }}" src="../images/{{ image_file_name }}" class="feature"/>
        </section>

        <p class="sentence">
            {{ sentence }}
        </p>
        <p class="sentence_translation">
            {{ sentence_translation }}
        </p>
    </article>

</div>
</body>
</html>
