<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Bird app</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- Our styles -->
    <link href="./_assets/styles.css" rel="stylesheet" />
    <link href="./_assets/grid.css" rel="stylesheet" />
    <script src="./_assets/script.js">
    </script>
</head>

<body>
    <div class="wrapper">
        <header class="main-head">HEADER</header>
        <nav class="main-nav">
            <input type="checkbox" id="menu-checkbox">
            <label for="menu-checkbox">Menu</label>
        </nav>
        <article class="main-content">
            CONTENT
        </article>
        <footer class="main-footer"></footer>
    </div>
</body>

</html>
