.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "nav"
        "header"
        "content";
}

.main-head {
    grid-area: header;
}

.main-nav {
    grid-area: nav;
}

.main-content {
    grid-area: content;
}

@media (min-width: 40.0rem) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            ". header"
            "nav content";
    }
}
